<%- include("~header.ejs")%>
<section class="login">

   <% if (messages && messages.error){%>
    <div class="notification__wrapper active error">
        <div class="notification__container">
            <div class="notification__icon">
    
            </div>
            <div >
                <p class="notification__message"><%= messages.error[0]%></p>
            </div>
    
        </div>
    
    </div>
   <%} %>
   <div class="header-area">
       <h1>Admin Login</h1>
   </div>

    <form action="/authenticate" method="POST" class="loginForm">
        <legend>Login</legend>
        <div class="fields">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <br><br>
            <input type="submit" value="Login">                
        </div>
        
    </form>
        
    </div>
</section>
</html>