body {
    margin-top: 70px;
    text-align: center;
    background-image: url(https://st2.depositphotos.com/1013886/10274/i/950/depositphotos_102745280-stock-photo-healthy-eating-background-studio-photo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: auto;
    width: 100%;
}
.container {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: blanchedalmond;
    opacity: 0.7;
    width: 34%;
    margin-left: 585px;
}
form {
    width: 600px;
    padding: 10px;
}
legend {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
}
label {
    font-size: 20px;
    font-weight: bold;
}
input[type=number], input[type=text] {
    width: 50%;
    padding: 4px;
    text-align: center;
    font-size: 22px;
    border: 2px solid green;
}
input[type=date]  {
    width: 40%;
    padding: 4px;
    text-align: center;
    font-size: 18px;
    border: 2px solid green;
}
select {
    width: 30%;
    padding: 7px;
    text-align: center;
    font-size: 15px;
    border: 1px solid yellow;
}
h2 {
    font-weight: bold;
    font-size: 24px;
}
button {
    background-color: powderblue;
    /*color: white;*/
    padding: 16px 20px;
    margin: 5px 35%;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
    font-size: 14px;
    text-align: center;
}